.content-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1100px;
}

/* Top navigation bar */

.navbar {
  background-color: #cc5cb9;
  opacity: 20%;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding shadow */
  position: fixed; /* Fixed position */
  width: 100%; /* Full width */
  top: 0; /* Position at the top */
  z-index: 1000; 
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 14px 20px;
  transition: background-color 0.3s;
  position: relative;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Breadcrumb Menu */

.breadcrumbs {

  display: inline-block;
  float: left;
  padding: 0;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs li::after {
  content: ">";
  padding: 0 0.5em;
}

.breadcrumbs li:last-child::after {
  content: "";
}

.breadcrumbs a {

  text-decoration-skip-ink: none;
}

/* main navigation menu */

.main_nav {
  padding: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.main_nav li {
  display: inline-block;
  margin: 0.5rem;
}

.main_nav a {

  text-underline-offset: 6px;
}

header {
  clear: both;
  text-align: center;
  display: block;
  width: 100%;
  float: left;
  margin-bottom: 30px;
  /*background-color: lightgray;*/
  /*border: 5px solid black;*/
}

h1 {
  /*Heading for the entire article*/
  font-size: 3rem;

}

main {
}

section {
  clear: both;
}

h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 0px;
}

figure {
  float: left;
  display: inline-block;
  margin-left: 0;
}

img {
}

figcaption {
  font-style: italic;
}

.text {
  max-width: 400px;
  float: left;
  display: inline-block;
}

.intro p {

  font-size: 1.3em;
}

.early .text {
  margin-right: 40px;
}

.later .text {
  margin-right: 40px;
}

.legacy .text {
  margin-right: 40px;
}

footer {
  color: white;
  clear: both;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}